<div class="divider-lines hidden-xl"></div>
</div><!-- end max container -->
<footer class="site-footer tan">

  <div class="container">
    <div class="row">
      <div class="column one-third">
        <h6 class="h6">Resource</h6>
        <ul class="contact-list no-list">
          <li><a href="{{ "/sampler/" | relative_url }}">Song Club Sampler</a></li>
          <li><a href="https://thesongclub.bandcamp.com/">Bandcamp</a></li>
          {% if site.email %}
            <li><a href="mailto:{{ site.email }}">Contact us</a></li>
          {% endif %}
            <li><a href="http://eepurl.com/dh59S1">Join our Mailing List</a></li>
        </ul>
      </div>
      <div class="column two-thirds">
        <h6 class="h6">Help sustain us</h6>
        <p>Song Club Records can't survive without your help. Help us make meaningful and beautiful music by supporting us in any way you can.</p>
        <script src="https://gumroad.com/js/gumroad.js"></script>
        <p><a class="button button-join" href="https://gum.co/jEzPn?wanted=true" target="_blank">Become a Member</a></p>
        <p class="h6">(P.S. We're also on <a href="https://www.patreon.com/songclubrecords">Patreon</a>)</p>
      </div>
    </div>

  </div>

</footer>
