<div class="divider-lines hidden-xl"></div>
</div><!-- end max container -->
<footer class="site-footer tan">

  <div class="container">
    <div class="row">
      <div class="column one-third">
        <h6 class="h6">Resource</h6>
        <ul class="contact-list no-list">
          <li><a href="http://songclubsampler.bandcamp.com/">Song Club Sampler</a></li>
          {% if site.email %}
            <li><a href="mailto:{{ site.email }}">Contact us</a></li>
          {% endif %}
            <li><a href="http://eepurl.com/dh59S1">Join our Mailing List</a></li>
            <li>
              <ul class="social-links inline-list left-align">
                <li><a class="fa fa-instagram no-underline" href="http://www.instagram.com/songclubrecords"></a></li>
                <li><a class="fa fa-facebook no-underline" href="http://www.facebook.com/songclubrecords"></a></li>
                <li><a class="fa fa-twitter no-underline" href="http://www.twitter.com/songclubrecords"></a></li>
              </ul>
            </li>
        </ul>
      </div>
      <div class="column two-thirds">
        <h6 class="h6">Help sustain us</h6>
        <p>We can't survive without your support. Help us make personal and beautiful music by buying vinyl, merch, and streaming our records via <a href="https://www.vice.com/en_us/article/jgxx48/is-there-ethical-music-streaming-under-capitalism-spotify-v27n2">Artist friendly streaming services</a> (ahem, Tidal).</p>
       <!--<script src="https://gumroad.com/js/gumroad.js"></script>
        <p><a class="button button-join" href="https://gum.co/jEzPn?wanted=true" target="_blank">Become a Member</a></p>
        <p class="h6">(P.S. We're also on <a href="https://www.patreon.com/songclubrecords">Patreon</a>)</p>-->
      </div>
    </div>

  </div>

</footer>
