---
layout: default
---

<div class="home">
	<section class="section padding-bottom">
		<div class="container">
			  <div class="row">
			  	<div class="column one-third">
				  	<div class="record record-new">
				  		<header>
					  		<span class="release-date gold h6">March 1, 2018</span>
							<img class="record-cover" src="images/record-covers/1801_BeeEater.png">
						</header>
						<h3 class="h3 record-title">BeeEater</h3>
						<p class="h6 tan"><span class="blue">BY</span> Emily Brown</p>
				      	</div>
				</div>
			  	<div class="column one-third">
				  	<div class="record record-coming-soon">
				  		<span class="release-date gold h6">April 15, 2018</span>
						<img class="record-cover" src="images/record-covers/1801_BeeEater.png">
						<h3 class="h3 record-title">Jethro Pyper</h3>
						<p class="h6 tan"><span class="blue">BY</span> Alyssa Pyper</p>
				      	</div>
				</div>
			  	<div class="column one-third">
				  	<div class="record record-coming-soon">
				  		<span class="release-date gold h6">April 15, 2018</span>
						<img class="record-cover" src="images/record-covers/1801_BeeEater.png">
						<h3 class="h3 record-title">Songs of Love Pt 2</h3>
						<p class="h6 tan"><span class="blue">BY</span> Jake Lyman</p>
				      	</div>
				</div>
			</div>
		</div>
	</section>
	<div class="divider-lines"></div>
	<section class="section padding-half blue-background center-align">
		<div class="container">
			<h2 class="h2 white no-margin">Song Club is <a class="gold" href="{% post_url 2018-03-17-social-media-intern %}">looking for a social media intern</a></h2>
		</div>
	</section>
</div>
