---
layout: default
---

<div class="home">
	<section class="section padding-bottom">
		<div class="container">
			<div class="row">
				<div class="column one-third">
					<a href="https://emilybrown.bandcamp.com/album/bee-sides" class="record record-outnow">
						<header>
							<span class="release-date gold h6">March 29, 2019</span>
							<img class="record-cover" src="images/record-covers/1903_bee-sides.jpg">
						</header>
						<h3 class="h3 record-title">Bee Sides</h3>
						<p class="h6 tan"><span class="blue">BY</span> Emily Brown</p>
						</a>
				</div>
				<div class="column one-third">
					<a href="https://senwisher.bandcamp.com/album/bird-languages/" class="record">
						<header>
							<span class="release-date gold h6">November 23, 2018</span>
							<img class="record-cover" src="images/record-covers/1810_bird-languages.jpg">
						</header>
						<h3 class="h3 record-title">Bird Languages</h3>
						<p class="h6 tan"><span class="blue">BY</span> Sen Wisher</p>
						</a>
				</div>
			  	<div class="column one-third">
				  	<a href="https://emilybrown.bandcamp.com/album/bee-eater" class="record record-outnow">
				  		<header>
					  		<span class="release-date gold h6">August 31, 2018</span>
							<img class="record-cover" src="images/record-covers/1801_BeeEater.png">
						</header>
						<h3 class="h3 record-title">Bee Eater</h3>
						<p class="h6 tan"><span class="blue">BY</span> Emily Brown</p>
				      	</a>
				</div>
			</div>
<div class="row">
				<div class="column one-third">
					<div class="record record-coming-soon">
						<span class="release-date gold h6">2019-ISH</span>
						<img class="record-cover" src="images/record-covers/1800_placeholder.png">
						<h3 class="h3 record-title">Salt Crust</h3>
						<p class="h6 tan"><span class="blue">BY</span> Alyssa Pyper</p>
						</div>
				</div>
			  	<div class="column one-third">
				  	<div class="record record-coming-soon">
				  		<span class="release-date gold h6">2019-ISH</span>
						<img class="record-cover" src="images/record-covers/1800_placeholder.png">
						<h3 class="h3 record-title">Bad for Me</h3>
						<p class="h6 tan"><span class="blue">BY</span> Jake Lyman</p>
				      	</div>
				</div>
			  	<div class="column one-third">
			  		<div><br/> </div>
				</div>
			</div>
		</div>
	</section>
	<div class="divider-lines"></div>
	<section class="section padding-half blue-background center-align">
		<div class="container">
			<h2 class="h2 white no-margin">Song Club is <a class="gold" href="{% post_url 2018-06-07-freelance-pr-licensing %}">looking for PR and licensing help</a></h2>
		</div>
	</section>
</div>
