---
layout: default
---

<div class="home">
	<section class="section padding-bottom">
		<div class="container">
			<div class="flex justify-between flex-wrap">
			{% for album in site.data.albums %}
			  <div class="md:w-31">
			    <a class="record" href="{{ album.link }}">
						<header>
							<span class="release-date gold h6">{{ album.date }}</span>
							<img class="record-cover" src="images/record-covers/{{ album.artist  | replace: ' ', '-' }}_{{ album.name  | replace: ' ', '-' }}.jpg">
						</header>
						<h3 class="h3 record-title">{{ album.name }}</h3>
						<p class="h6 tan"><span class="blue">BY</span> {{ album.artist }}</p>
			    </a>
			  </div>
			{% endfor %}
			</div>
		</div>
	</section>
	<div class="divider-lines"></div>
	<section class="section padding-half blue-background center-align">
		<div class="container">
			<h2 class="h2 white no-margin">Song Club is <a class="gold" href="{% post_url 2018-06-07-freelance-pr-licensing %}">looking for PR and licensing help</a></h2>
		</div>
	</section>
</div>
